name: Create Release
on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Version bump type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: patch
      update_parents:
        description: 'Update parent version tags'
        type: boolean
        default: true
      overview_note:
        description: 'Overview note to include at the beginning of the release notes'
        required: false
        default: ''

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./
        with:
          version_bump: ${{ inputs.version_bump }}
          update_parent_tags: ${{ inputs.update_parents }}
          overview_note: ${{ inputs.overview_note }}
